body {
	background-color: $light-gray;

}

.span4 
h3.offset2 {


}
#content, #color-header  {
		margin-left: 140px;
		width: 820px;
}

.content{
	margin: auto;

	z-index: 99;
}


#color-header{
	background-color: $color-header;
	height: $color-header-height;
	margin-top: 10px;
	position: relative;
	overflow: hidden;

	h1 {
		position: absolute;
		top: $h1-top;
	}
	h3 {
		position: absolute;
		top: $h3-top;
	}
}


#content {
	background-color: $background-color;
}

#index, #tech, #article, #contact {
	background-color: #fff;
}
.twitter {
	padding-bottom: 100px;
}
footer {
	margin-top: 20px;
}
h2.pres, h2.doc {
	margin-top: 40px !important;
}
p {
	padding-bottom: 20px;
}

#contact, #tech, #article {
	background-color: $color-header;
	margin-left: 0;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#content h2.pad {
	margin-top: 20px;
}