$color-header: #58C1CE;
$background-header: #4EADBA;
$light-gray: #E6E6E6;
$red: #E14F3E;
$red-50: rgba(225, 79, 62, 0.5);
$heading: #fff;
$nav_txt: #888;
$active_nav_txt: #888;
$links: #33BED0;
$social-border: #fff;
$hover-bar: $red-50;
$hover-text: #4EADBA;
$text: #888;
$li-dot: $color-header;

$car-border: #58C1CE;

$color-header-height: 315px;
$h1-top: $color-header-height/2;
$h3-top: $h1-top+40px;
$h1: #fff;

$background-color: #fff;
$background-color1: rgba(255,255,255, 0.1);
$background-color2: rgba(255,255,255, 0.2);
$background-color3: rgba(255,255,255, 0.4);
$background-color4: rgba(255,255,255, 0.6);
$background-color5: rgba(255,255,255, 0.8);
$background-color6: rgba(255,255,255, 1);


$circle1: 507px;
$circle2: $circle1*0.6180339887;
$circle3: $circle2*0.6180339887;
$circle4: $circle3*0.6180339887;
$circle5: $circle4*0.6180339887;
$circle6: $circle5*0.6180339887;

$negative-circle-offset: -98px;

$button: #58C1CE;

