$headings: #888;

p {
	font-size: 1.2em;
}

.pad {
	padding-left: 20px;
	padding-right: 20px;
}

h1, h2, h3 {
}
#color-header{
	h1 {
		color: $heading;
		text-transform: uppercase;
		font-weight: 100;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 0;

	}

	h3 {
		color: $heading;
		font-size: 1.2em;
		line-height: 1.2em;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 0;

	}
}

h4 {
	margin-bottom: 1em;
}

#content{
 h1 {
	text-transform: uppercase;
	color: $h1;
	margin-top: 18px;
	margin-bottom: 18px;
	}

	h2 {
		margin-bottom: 10px;
		margin-top: 0;
		font-weight: 100;
		text-transform: uppercase;
		color: $headings;
	}
}
nav {
	list-style-type: none;
	li {
		margin: 4em 0;
		a{
			font-size: 1.5em;
			text-decoration: none;
			font-weight: 500;
			color: $nav_txt;
		}
	}
}

	a {
		color: $links;
	}

h3  {
	font-size: 1.4em;

	a {
		font-size: 1em;
		font-weight: 300;
	}
	a:hover {
		color: $hover-text;
	}
}